* {
    padding: 0;
    margin: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    flex-direction: row;
    /* background-color: antiquewhite; */
    /* padding: 0 10%; */
    /* margin: ; */
  }

  nav > h1{
      cursor: pointer;
      font-size: 50px;
  }
  nav >h1:hover{
      opacity: .8;
  }

  .linkdiv{
      padding: 20px 0;
      height: fit-content;
      width: 100vw;
      /* background-color: aqua; */
      display: flex;
      align-items: center;
      flex-direction: column;
      /* text-align: center; */
      /* justify-content: ; */
  }

  .linkdiv > h1{
      /* text-align: center; */
      /* margin: 10px 0; */
      font-size: 50px;
      /* background-color: blue; */
  }



  .linkdiv > ul{
      /* max-width: max-content; */
    /* background-color: aqua; */
      /* justify-content: space-around; */
      /* width: 100%; */
    margin: 10px 0;
    list-style:none;
    flex-direction: column;
    display: flex;
    align-items:center;
      /* flex-wrap: wrap; */
  }
  

  ul> li{
      /* align-self: center; */
      /* margin: 5px 0px; */
      cursor: pointer;
      font-weight: 600;
  }

  li.active{
      font-weight: 900;
  }

  li.active:hover{
      opacity: 1;
  }

  li:hover{
      opacity: .7;
  }

  @media screen and (min-width: 800px) {
    .linkdiv > ul{
        flex-direction: row;
    }

    ul > li{
        margin-bottom: 30px;
        margin-left: 20px;
    }
}